.imageList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8px; /* Reduced gap between items */
}

.imageItem {
  position: relative;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageItem:hover {
  background-color: rgb(184, 194, 191);
}
.emoji {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subOptions {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  list-style: none;
  padding: 0;
}
.overlay {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
}

.subItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f5f5f5;
}

.subItem:hover {
  background-color: #b8b4b4;
}

.name {
  font-size: 14px;
}
